@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #260b36;
}

::-moz-selection {
  color: #fff9df;
  background: #5F1989;
}

::selection {
  color: #fff9df;
  background: #5F1989;
}

@media (max-width: 970px) {
  .custom-strip {
    animation: ticker 50s linear 0s infinite;
  }

  @keyframes ticker {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
